#homepage {
    background-color:aliceblue;
    color: rgba(240, 190, 66, 0.86);
    border: none;
    padding: 40px;
    font-size: 45px;
    text-align: center;
    font-family: "Great Vibes", cursive;

}

body{
    background-color: aliceblue;

}



